@import "../abstract/variables";
@import "./input";

.stay-informed {
    box-sizing: border-box;
    width: 555px;
    background-color: $color-additional;
    padding: 18px 20px;

    h3 {
        padding-left: 5px;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        margin: 10px 0 30px;
        padding-left: 4px;
        color: $color-text-additional;
        line-height: 22px;
    }
}

.stay-informed__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}