//Colors
$color-brand: rgba(123, 238, 199, 1);
$color-text: #60606E;
$color-text-additional: #999999;
$color-additional: rgba(255, 255, 255, 1);
$color-shadow: lightgray;

//Fonts
$text-font: 'Open Sans', sans-serif;
$headings-font: 'Montserrat', sans-serif;