.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-mobile-big {
        margin-bottom: 30px;
    }

    h4 {
        margin-top: 23px;
    }
    
    p {
        margin: 7px 0 0 5px;
        line-height: 30px;
    }
}