@import "./intro";
@import "../components/price-tag";
@import "../components/buttons";

.pricing-plans {
    padding: 45px 0 162px;
    
    @include media-tablet {
        padding: 50px 0;
    }

    @include media-mobile-big {
        padding: 30px 0;
    }
}

.pricing-plans__intro {
    @include intro;

    h2 {
        position: relative;
    }
    
    h2::after {
        @include icon-rectangle;
    } 

    p {
        margin-top: 15px;
        line-height: 24px;
    }
}

