@import "../components/icon";
@import "../components/tool";

.tools {
    padding: 106px 0 94px;
    
    @include media-tablet {
        padding: 50px 0;
    }

    @include media-mobile-big {
        padding: 20px 0;
    }
}