@import "../abstract/mixins";

.layout-2-column {
    @include columns ($width: 48.5%);
    @include media-tablet {
        flex-direction: column;
        justify-content: center;
    }

    @include media-tablet {
        flex-wrap: nowrap;
    }
}


.layout-4-column {
    @include columns ($width: 23%);
    @include media-mobile-big {
        @include columns ($width: 48.5%);
    }
}

.layout-3-column {
    @include columns ($width: 31.5%);
    @include media-mobile-big {
        @include columns ($width: 70%);
        justify-content: center;
    };
    @include media-mobile-small {
        @include columns ($width: 100%);
        justify-content: center;
    }
}