@import "../abstract/mixins";

.header {
    background-image: url(../../images/Layer_4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        @include text ($headings-font, $color-text, 18px);
        font-weight: 700;
        text-decoration: none;
    }

    .hamburger-menu {
        
        img {
            margin-top: 5px;
        }
    }
}

.promo__content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
        @include headings ($headings-font, $color-text, 14px);
        font-weight: 700;
        margin-top: 18px;
    }
}