@mixin intro {
    width: 721px;
    margin: 100px auto 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
}