@import "../abstract/mixins";
@import "../abstract/variables";
@import "../layouts/intro";
@import "../components/list-icon";

.products {
    padding: 45px 0;
}

.intro {
    h2 {
        position: relative;
    }

    h2::after {
        @include icon-rectangle;
    }  

    p {
        margin-top: 15px;
        line-height: 24px;
    }
}

.products__description {
    line-height: 30px;

    p {
        margin-top: -8px;
    }
}

.products__description__column {
    margin-top: 27px;
    line-height: 24px;
}